<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bc997abd-4646-4944-b9ad-1e15957ebbae" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetBYParam" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bc997abd-4646-4944-b9ad-1e15957ebbaefileName">GetBYParam</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>