<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a039a4df-7577-493d-888e-26286f4c8c0a" name="FirstSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a039a4df-7577-493d-888e-26286f4c8c0afileName">FirstSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>