<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6fbf2bd3-5c12-413e-a144-0a3f3ea1333d" name="SecondSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6fbf2bd3-5c12-413e-a144-0a3f3ea1333dfileName">SecondSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>