<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="197dc2e3-2b1d-443b-9658-1a86f5608acc" wadlVersion="http://wadl.dev.java.net/2009/02" name="PostAUser" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="197dc2e3-2b1d-443b-9658-1a86f5608accfileName">PostAUser</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>